body{
    font-family: "Arial", Helvetica, sans-serif;
}

#itemsTable{
    margin-bottom: 15px;
    border-collapse: collapse;
}

th {
    height: 50px;
    width: 100px;
    background-color: #a1a1a1;
    color: white;
}

td {
    padding: 15px;
    text-align: center;
}

#div1{
    border: 2px solid #a1a1a1;
    padding: 5px 25px; 
    padding-bottom: 30px;
    margin-right: 5px;
    margin-bottom: 10px;
    background: #dddddd;
    width: 300px;
    border-radius: 11px; 
    float:left;
}

#div2{
    border: 2px solid #a1a1a1;
    padding: 5px 25px; 
    padding-bottom: 30px;
    margin-right: 5px;
    margin-bottom: 10px;
    background: #dddddd;
    width: 300px;
    border-radius: 11px; 
    float:left;
}

#div3{
    border: 2px solid #a1a1a1;
    padding: 5px 25px; 
    padding-bottom: 30px;
    margin-right: 5px;
    margin-bottom: 10px;
    background: #dddddd;
    width: 300px;
    border-radius: 11px;   
    float:left;
}
